<div class="d-flex w-100 mb-4">
    <h1 class="title">القضايا</h1>  <button class="btn my-2 mx-4 customBTN"> <i class="fas fa-sync"></i> تحديث</button>
</div>
 

<div class="card">
    <div class="card-body">
        <ul ngbNav #nav="ngbNav" [activeId]="1" class="nav-tabs justify-content-start">
            <li [ngbNavItem]="1">
              <a ngbNavLink>الكل</a>
              <ng-template ngbNavContent>
                  <div  class="mt-3">
                    <table class="table">
                        <thead>
                          <tr>
                           <!--  <th scope="col">#</th> -->
                            <th scope="row">الاسم</th>
                            <th scope="row">الحالة</th>
                            <th scope="row">التاريخ</th>
                            <th scope="row">العمر</th>
                            <th scope="row">العمر</th>
                            <th scope="row">المدينة</th>
 
                            <th scope="row">المزيد</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr *ngFor="let item of dataArr">
                            <th scope="row">{{item.name}}</th>
                         <!--    <td>Mark</td> -->
                         <th scope="row">{{item.status}}</th>
                         <th scope="row">{{item.kidnap_date}}</th>
                         <th scope="row">{{item.kidnap_status}}</th>
                         <th scope="row">{{item.age}}</th>
                         <th scope="row">{{item.city}}</th>
                         <th scope="row">المزيد</th>
                          </tr>
                        
                        </tbody>
                      </table>  
                      <div class="row mt-3">
                        <div class="col-md-12 text-center justify-content-center">
                         <div style="width: fit-content;margin: auto;">
                        <ngb-pagination
                          class="m-auto"
                          [(page)]="page"
                          [pageSize]="pageSize"
                          [collectionSize]="responseObj?.data?.total"
                          [rotate]="true" [ellipses]="false" [maxSize]="3" [boundaryLinks]="true" 
                          (pageChange)="changePage($event)"></ngb-pagination>  
                         </div>
                       
                        </div>
                      </div>
                  </div>
              
                </ng-template>
            </li>
            <li [ngbNavItem]="2">
              <a ngbNavLink>النشطة</a>
              <ng-template ngbNavContent>
                <div  class="mt-3">
                  <table class="table">
                      <thead>
                        <tr>
                         <!--  <th scope="col">#</th> -->
                          <th scope="row">الاسم</th>
                          <th scope="row">الحالة</th>
                          <th scope="row">التاريخ</th>
                          <th scope="row">العمر</th>
                          <th scope="row">العمر</th>
                          <th scope="row">المدينة</th>

                          <th scope="row">المزيد</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr *ngFor="let item of dataArr">
                          <th scope="row">{{item.name}}</th>
                       <!--    <td>Mark</td> -->
                       <th scope="row">{{item.status}}</th>
                       <th scope="row">{{item.kidnap_date}}</th>
                       <th scope="row">{{item.kidnap_status}}</th>
                       <th scope="row">{{item.age}}</th>
                       <th scope="row">{{item.city}}</th>
                       <th scope="row">المزيد</th>
                        </tr>
                      
                      </tbody>
                    </table>  
                    <div class="row mt-3">
                      <div class="col-md-12 text-center justify-content-center">
                       <div style="width: fit-content;margin: auto;">
                      <ngb-pagination
                        class="m-auto"
                        [(page)]="page"
                        [pageSize]="pageSize"
                        [collectionSize]="responseObj?.data?.total"
                        [rotate]="true" [ellipses]="false" [maxSize]="3" [boundaryLinks]="true" 
                        (pageChange)="changePage($event)"></ngb-pagination>  
                       </div>
                     
                      </div>
                    </div>
                </div>
            
              </ng-template>
            </li>
         
            <li [ngbNavItem]="3">
                <a ngbNavLink>المعلقة</a>
                <ng-template ngbNavContent>
                    <div  class="mt-3">
                      <table class="table">
                          <thead>
                            <tr>
                             <!--  <th scope="col">#</th> -->
                              <th scope="row">الاسم</th>
                              <th scope="row">الحالة</th>
                              <th scope="row">التاريخ</th>
                              <th scope="row">العمر</th>
                              <th scope="row">العمر</th>
                              <th scope="row">المدينة</th>
   
                              <th scope="row">المزيد</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr *ngFor="let item of dataArr">
                              <th scope="row">{{item.name}}</th>
                           <!--    <td>Mark</td> -->
                           <th scope="row">{{item.status}}</th>
                           <th scope="row">{{item.kidnap_date}}</th>
                           <th scope="row">{{item.kidnap_status}}</th>
                           <th scope="row">{{item.age}}</th>
                           <th scope="row">{{item.city}}</th>
                           <th scope="row">المزيد</th>
                            </tr>
                          
                          </tbody>
                        </table>  
                        <div class="row mt-3">
                          <div class="col-md-12 text-center justify-content-center">
                           <div style="width: fit-content;margin: auto;">
                          <ngb-pagination
                            class="m-auto"
                            [(page)]="page"
                            [pageSize]="pageSize"
                            [collectionSize]="responseObj?.data?.total"
                            [rotate]="true" [ellipses]="false" [maxSize]="3" [boundaryLinks]="true" 
                            (pageChange)="changePage($event)"></ngb-pagination>  
                           </div>
                         
                          </div>
                        </div>
                    </div>
                
                  </ng-template>
              </li>
              <li [ngbNavItem]="4">
                <a ngbNavLink>المغلقة</a>
                <ng-template ngbNavContent>
                    <div  class="mt-3">
                      <table class="table">
                          <thead>
                            <tr>
                             <!--  <th scope="col">#</th> -->
                              <th scope="row">الاسم</th>
                              <th scope="row">الحالة</th>
                              <th scope="row">التاريخ</th>
                              <th scope="row">العمر</th>
                              <th scope="row">العمر</th>
                              <th scope="row">المدينة</th>
   
                              <th scope="row">المزيد</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr *ngFor="let item of dataArr">
                              <th scope="row">{{item.name}}</th>
                           <!--    <td>Mark</td> -->
                           <th scope="row">{{item.status}}</th>
                           <th scope="row">{{item.kidnap_date}}</th>
                           <th scope="row">{{item.kidnap_status}}</th>
                           <th scope="row">{{item.age}}</th>
                           <th scope="row">{{item.city}}</th>
                           <th scope="row">المزيد</th>
                            </tr>
                          
                          </tbody>
                        </table>  
                        <div class="row mt-3">
                          <div class="col-md-12 text-center justify-content-center">
                           <div style="width: fit-content;margin: auto;">
                          <ngb-pagination
                            class="m-auto"
                            [(page)]="page"
                            [pageSize]="pageSize"
                            [collectionSize]="responseObj?.data?.total"
                            [rotate]="true" [ellipses]="false" [maxSize]="3" [boundaryLinks]="true" 
                            (pageChange)="changePage($event)"></ngb-pagination>  
                           </div>
                         
                          </div>
                        </div>
                    </div>
                
                  </ng-template>
              </li>
          </ul>
          
          <div [ngbNavOutlet]="nav" class="mt-2"></div>
    </div>
</div>
