.sidebar-nav {
  list-style: none;
  padding: 10px 25px 25px !important;
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: space-between;
  margin: 0%;
  font-weight: 600;
}
.logo-container {
  display: flex;
  justify-content: center;
  align-content: center;
}

.accordion-button {
  background-color: #3d73ff15;
}
.collapsed {
  background-color: white;
}
