<div class="row w-100 mx-0 auth-page">
  <div class="col-md-6 col-xl-4 mx-auto">
    <div class="card">
      <div class="auth-form-wrapper px-4 py-4">
        <div class="logo-container">
          <img src="assets/images/logo.svg" alt="logo" />
        </div>
        <h5 class="fw-bolder mb-2 fs-4">تغيير كلمة المرور</h5>
        <form
          class="forms-sample"
          [formGroup]="resetPasswordForm"
          (ngSubmit)="onResetpassword()"
        >
          <div class="mb-2">
            <label for="password" class="form-label">كلمة المرور</label>
            <input
              formControlName="password"
              type="password"
              class="form-control"
              id="password"
            />
          </div>
          <div class="mb-3">
            <label for="passwordConfirmation" class="form-label"
              >تأكيد كلمة المرور</label
            >
            <input
              formControlName="passwordConfirmation"
              type="password"
              class="form-control"
              id="passwordConfirmation"
              (change)="onPasswordChange()"
            />
          </div>
          <span class="err" *ngIf="passwordConfirmation.hasError('mismatch')"
            >كلمة السر غير متشابهة</span
          >
          <button
            type="submit"
            class="btn btn-primary me-2 mb-2 mb-md-0"
            [disabled]="!resetPasswordForm.valid"
          >
            تغيير
          </button>
        </form>
      </div>
    </div>
  </div>
</div>
