:host {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.ng-invalid.ng-touched:not(form) {
  border-right: 5px solid #a94442; /* red */
}
.pop-container {
  display: flex;
  align-items: center;
  .err {
    padding: 8px;
    background-color: rgba(211, 16, 16, 0.15);
    border: solid rgb(211, 16, 16) 1px;
    color: rgb(211, 16, 16);
    border-radius: 4px;
  }
  .success {
    padding: 8px;
    background-color: rgba(16, 211, 81, 0.15);
    border: solid rgb(16, 211, 81) 1px;
    color: rgb(21, 145, 21);
    border-radius: 4px;
  }
}
