<div class="row w-100 mx-0 auth-page">
  <div class="col-md-6 col-xl-6 mx-auto">
    <div class="card">
      <div class="auth-form-wrapper px-4 py-5">
        <a routerLink="." class="nobleui-logo d-block mb-2"
          >Noble<span>UI</span></a
        >
        <h5 class="text-muted fw-normal mb-4">
          الرجاء قم بإدخال البريد الإلكتروني
        </h5>
        <form
          class="forms-sample"
          [formGroup]="forgetPasswordForm"
          (ngSubmit)="onForgetpassword()"
        >
          <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label"
              >البريد الإلكتروني</label
            >
            <input
              formControlName="email"
              type="email"
              class="form-control"
              id="exampleInputEmail1"
              placeholder="البريد الإلكتروني"
            />
          </div>
          <div class="pop-container">
            <button
              type="submit"
              class="btn btn-primary me-2 mb-2 mb-md-0"
              [disabled]="!forgetPasswordForm.valid"
            >
              التالي
            </button>
            <div class="err" *ngIf="isErr && popContent != ''">
              {{ popContent }}
            </div>
            <div class="success" *ngIf="!isErr && popContent != ''">
              {{ popContent }}
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
