<div class="row w-100 mx-0 auth-page">
  <div class="col-md-6 col-xl-4 mx-auto">
    <div class="card">
      <div class="auth-form-wrapper px-4 py-4">
        <div class="logo-container">
          <img src="assets/images/logo.svg" alt="logo" />
        </div>
        <h5 class="fw-bolder mb-2 fs-4">نسيت كلمة المرور</h5>
        <form
          class="forms-sample"
          [formGroup]="forgetPasswordForm"
          (ngSubmit)="onForgetpassword()"
        >
          <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label"
              >البريد الإلكتروني</label
            >
            <input
              formControlName="email"
              type="email"
              class="form-control"
              id="exampleInputEmail1"
              placeholder="البريد الإلكتروني"
            />
          </div>
          <button
            type="submit"
            class="btn btn-primary me-2 mb-2 mb-md-0"
            [disabled]="!forgetPasswordForm.valid"
          >
            التالي
          </button>
        </form>
      </div>
    </div>
  </div>
</div>
