<nav class="page-breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a routerLink="/"> الرئيسية</a></li>
    <li
      class="breadcrumb-item"
      aria-current="page"
      routerLink="/cases/allCases"
    >
      الحالات
    </li>
    <li class="breadcrumb-item active" aria-current="page">الحالة</li>
  </ol>
</nav>

<div class="card" *ngIf="!isLoading">
  <div class="card-body">
    <div class="card-head text-start">
      <h2>
        {{ kidData?.name }}
      </h2>
      <p><i class="far fa-calendar"></i> {{ kidData?.kidnap_date }}</p>
    </div>

    <div class="card-body">
      <div class="row justify-content-around">
        <div class="col-md-3 col-sm-12 first-cel">
          <img src="{{ kidData?.image }}" width="100%" alt="" />
        </div>
        <div class="col-md-4 col-sm-12 second-cel">
          <h3 class="custom-font-weight">بيانات الطفل</h3>
          <div class="kidInfo" *ngIf="kidData?.name">
            <label for="">الاسم :</label>
            <p>{{ kidData?.name }}</p>
          </div>
          <div class="kidInfo" *ngIf="kidData?.city">
            <label for="">المحافظة :</label>
            <p>{{ kidData?.city }}</p>
          </div>
          <div class="kidInfo" *ngIf="kidData?.sub_city">
            <label for="">المدينة :</label>
            <p>{{ kidData?.sub_city }}</p>
          </div>
          <div class="kidInfo" *ngIf="kidData?.age">
            <label for="">العمر :</label>
            <p>{{ kidData?.age }}</p>
          </div>

          <div class="kidInfo" *ngIf="kidData?.id_number">
            <label for="">الرقم القومي :</label>
            <p>{{ kidData?.id_number }}</p>
          </div>

          <div class="kidInfo">
            <p>{{ kidData?.other_info }}</p>
          </div>
        </div>
        <div class="col-md-4 col-sm-12 third-cel">
          <h3 class="custom-font-weight">بيانات ولي الامر</h3>
          <div class="kidInfo">
            <label for="">الاسم :</label>
            <p>
              {{
                kidData?.guardian?.length > 0 ? kidData?.guardian[0].name : ""
              }}
            </p>
          </div>
          <div class="kidInfo">
            <label for="">العنوان :</label>
            <p>
              {{
                kidData?.guardian?.length > 0
                  ? kidData?.guardian[0].address
                  : ""
              }}
            </p>
          </div>
          <div class="kidInfo">
            <label for="">رقم الهاتف :</label>
            <p>
              {{
                kidData?.guardian?.length > 0
                  ? kidData?.guardian[0].phone_number
                  : ""
              }}
            </p>
          </div>
          <div class="kidInfo">
            <p>
              {{
                kidData?.guardian?.length > 0
                  ? kidData?.guardian[0].other_info
                  : ""
              }}
            </p>
          </div>
        </div>

        <div class="col-md-6 mt-4" *ngIf="kidData?.kid_image?.length > 0">
          <h3 class="custom-font-weight">صور الطفل</h3>
          <ngb-carousel>
            <ng-template ngbSlide *ngFor="let item of kidData?.kid_image">
              <div class="picsum-img-wrapper">
                <!--   <img [src]="images[0]" alt="Random first slide"> -->
                <img
                  src="{{ item?.image }}"
                  width="100%"
                  style="max-height: 600px"
                  alt=""
                />
              </div>
              <!--  <div class="carousel-caption">
                <h3>First slide label</h3>
                <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
              </div> -->
            </ng-template>
            <!--    <ng-template ngbSlide>
              <div class="picsum-img-wrapper">
                <img [src]="images[1]" alt="Random second slide">
              </div>
              <div class="carousel-caption">
                <h3>Second slide label</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
              </div>
            </ng-template>
            <ng-template ngbSlide>
              <div class="picsum-img-wrapper">
                <img [src]="images[2]" alt="Random third slide">
              </div>
              <div class="carousel-caption">
                <h3>Third slide label</h3>
                <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
              </div>
            </ng-template> -->
          </ngb-carousel>
        </div>
        <div class="col-md-6 mt-4" *ngIf="kidData?.guardian?.length > 0">
          <h3 class="custom-font-weight">صور ولي الامر</h3>
          <ngb-carousel>
            <ng-template ngbSlide *ngFor="let item of kidData?.guardian">
              <div class="picsum-img-wrapper">
                <!--   <img [src]="images[0]" alt="Random first slide"> -->
                <img
                  src="{{ item?.id_image }}"
                  width="100%"
                  style="max-height: 600px"
                  alt=""
                />
              </div>
              <!--  <div class="carousel-caption">
                <h3>First slide label</h3>
                <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
              </div> -->
            </ng-template>
            <!--    <ng-template ngbSlide>
              <div class="picsum-img-wrapper">
                <img [src]="images[1]" alt="Random second slide">
              </div>
              <div class="carousel-caption">
                <h3>Second slide label</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
              </div>
            </ng-template>
            <ng-template ngbSlide>
              <div class="picsum-img-wrapper">
                <img [src]="images[2]" alt="Random third slide">
              </div>
              <div class="carousel-caption">
                <h3>Third slide label</h3>
                <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
              </div>
            </ng-template> -->
          </ngb-carousel>
        </div>

        <div class="col-md-12 text-end mt-5">
          <button
            class="btn btn-primary ms-3 mb-3"
            (click)="updateKidCase(id, 'closed')"
          >
            اغلاق القضية
          </button>
          <button
            class="btn btn-primary ms-3 mb-3"
            (click)="updateKidCase(id, 'active')"
          >
            تفعيل
          </button>
          <button
            class="btn ms-3 mb-3 bg-danger bg-opacity-25 text-danger"
            (click)="deleteTask(id)"
          >
            حذف
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="card" *ngIf="isLoading">
  <div class="card-body">
    <div class="card-head text-start">
      <ngx-skeleton-loader
        count="1"
        appearance="line"
        [theme]="{ height: '50px', width: '250px', display: 'block' }"
      ></ngx-skeleton-loader>
      <ngx-skeleton-loader
        count="1"
        appearance="line"
        [theme]="{ height: '30px', width: '150px' }"
      ></ngx-skeleton-loader>
    </div>

    <div class="card-body">
      <div class="row justify-content-around">
        <div class="col-md-3 col-sm-12 first-cel">
          <ngx-skeleton-loader
            count="1"
            appearance="line"
            [theme]="{ height: '100%', width: '100%' }"
          ></ngx-skeleton-loader>
        </div>
        <div class="col-md-4 col-sm-12">
          <ngx-skeleton-loader
            count="1"
            appearance="line"
            [theme]="{ height: '40px', width: '150px', display: 'block' }"
          ></ngx-skeleton-loader>

          <ngx-skeleton-loader
            count="5"
            appearance="line"
            [theme]="{ height: '30px', width: '100%' }"
          ></ngx-skeleton-loader>
        </div>
        <div class="col-md-4 col-sm-12 third-cel">
          <ngx-skeleton-loader
            count="1"
            appearance="line"
            [theme]="{ height: '40px', width: '150px', display: 'block' }"
          ></ngx-skeleton-loader>

          <ngx-skeleton-loader
            count="5"
            appearance="line"
            [theme]="{ height: '30px', width: '100%' }"
          ></ngx-skeleton-loader>
        </div>

        <div class="col-md-6 mt-4" *ngIf="kidData?.kid_image?.length > 0">
          <ngx-skeleton-loader
            count="1"
            appearance="line"
            [theme]="{ height: '40px', width: '150px', display: 'block' }"
          ></ngx-skeleton-loader>

          <ngx-skeleton-loader
            count="1"
            appearance="line"
            [theme]="{ height: '300px', width: '100%' }"
          ></ngx-skeleton-loader>
        </div>
        <div class="col-md-6 mt-4" *ngIf="kidData?.guardian?.length > 0">
          <ngx-skeleton-loader
            count="1"
            appearance="line"
            [theme]="{ height: '40px', width: '150px', display: 'block' }"
          ></ngx-skeleton-loader>

          <ngx-skeleton-loader
            count="1"
            appearance="line"
            [theme]="{ height: '300px', width: '100%' }"
          ></ngx-skeleton-loader>
        </div>

        <div class="col-md-12 text-end mt-5">
          <ngx-skeleton-loader
            count="3"
            appearance="line"
            [theme]="{
              height: '40px',
              width: '100px',
              'margin-right': '2px',
              'margin-left': '2px'
            }"
          ></ngx-skeleton-loader>
        </div>
      </div>
    </div>
  </div>
</div>
