<div class="row">
  <div class="col-md-12 stretch-card">
    <div class="card">
      <div class="card-body">
        <div class="d-flex justify-content-between">
          <div class="d-flex">
            <h2><strong>المستخدمين</strong></h2>
            <button class="btn btn-primary ms-3 mb-3" (click)="refresh()">
              تحديث
              <i class="feather icon-refresh-ccw pe-1"></i>
            </button>
          </div>
          <div class="form-group">
            <input type="text" [(ngModel)]="term" class="form-control" id="InputSearch" aria-describedby="searchHelp"
              placeholder="بحث" />
          </div>
        </div>
        <div class="mt-3" *ngIf="!isLoading">
          <div class="table-responsive">
            <table id="dataTableExample" class="table">
              <thead class="bg-secondary bg-opacity-10">
                <tr>
                  <th>م</th>
                  <th>الإسم</th>
                  <th>البريد الإلكتروني</th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let item of users | search: term; let i = index" class="row-center">
                  <td>{{ i + 1 }}</td>
                  <td>{{ item.name }}</td>
                  <td>{{ item.email }}</td>
                  <td>
                    <div class="d-flex">
                      <button *ngIf="item.status == 'not_active'"
                        class="btn btn-Status me-2 px-2 py-1 bg-warning bg-opacity-10 text-warning rounded" (click)="
                          openActivateModal(activateModal , item)
                        ">
                        <i class="feather icon-unlock"></i>
                      </button>
                      <button *ngIf="item.status == 'active'"
                        class="btn btn-Status me-2 px-2 py-1 bg-secondary bg-opacity-10 text-secondary rounded" (click)="
                        openActivateModal(activateModal , item)
                        ">
                        <!-- $event.preventDefault();
                        updateUserStatus('not_active', item.id) -->
                        <i class="feather icon-lock"></i>
                      </button>
                      <button class="btn btn-delete px-2 py-1 bg-danger bg-opacity-10 text-danger rounded"
                        (click)="openDeleteModal(deleteModal , item)">
                        <i class="feather icon-trash"></i>
                      </button>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
            <div class="pagination my-3">
              <ngb-pagination class="m-auto" [(page)]="page" [collectionSize]="last_page" [rotate]="true"
                (pageChange)="changePage($event)" aria-label="Default pagination">
              </ngb-pagination>
            </div>
          </div>
        </div>
        <div class="mt-3" *ngIf="isLoading">
          <div class="w-100">
            <ngx-skeleton-loader count="8" appearance="line" [theme]="{ height: '50px', width: '100%' }">
            </ngx-skeleton-loader>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>



<!-- DELETE MODAL -->
<ng-template #deleteModal let-modal>
  <div class="modal-header">
    <h4 class="modal-title">حذف المستخدم</h4>
    <button
      type="button"
      class="btn-close"
      (click)="modal.close('by: close icon') ;"
      aria-label="Close"
    ></button>
  </div>
  <div class="modal-body">
    <p>
      هل تريد حقا حذف هذا المستخدم ؟
    </p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="modal.close()">
      إلغاء
    </button>
    <button type="submit" class="btn btn-danger" (click)="deleteUser()">
      حذف
    </button>
  </div>
</ng-template>

<!-- Activation MODAL -->
<ng-template #activateModal let-modal>
  <div class="modal-header">
    <h4 class="modal-title" *ngIf="!isActivating">تعطيل حساب المستخدم</h4>
    <h4 class="modal-title" *ngIf=" isActivating">تفعيل حساب المستخدم</h4>

    <button
      type="button"
      class="btn-close"
      (click)="modal.close('by: close icon') ;"
      aria-label="Close"
    ></button>
  </div>
  <div class="modal-body">
    <p *ngIf="!isActivating">
      هل تريد حقا تعطيل هذا الحساب ؟
    </p>
    <p *ngIf="isActivating">
      هل تريد حقا تفعيل هذا الحساب ؟
    </p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="modal.close()">
      إلغاء
    </button>
    <button type="submit" class="btn btn-warning" (click)="updateUserStatus('not_active')" *ngIf="!isActivating">
      تعطيل
    </button>
    <button type="submit" class="btn bg-success" (click)="updateUserStatus('active')" *ngIf="isActivating">
      تفعيل
    </button>
  </div>
</ng-template>