<nav class="page-breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a routerLink=".">Tables</a></li>
        <li class="breadcrumb-item active" aria-current="page">Data table</li>
    </ol>
</nav>


<div class="row">
    <div class="col-md-12 stretch-card">
        <div class="card">
            <div class="card-body">
                <h2 class="card-title pe-2">المستخدمين</h2>
                <button class=" btn btn-lg btn-primary ps-2" (click)="refresh()" >
                    <i class="feather icon-refresh-ccw pe-1"></i>
                    تحديث
                </button>
                <div class="table-responsive">
                    <table id="dataTableExample" #dataTable class="table">
                        <thead>
                            <tr>
                                <th>الإسم</th>
                                <th>البريد الإلكترونى</th>
                                <th>رقم المحمول</th>
                                <th>عناصر التحكم</th>
                            </tr>
                        </thead>
                        <tbody>

                        </tbody>
                        <tfoot>
                            <tr>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>